################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GeneralWork MVC/v17
/.vs/VSWorkspaceState.json
/GeneralWorkMVC/.vs/GeneralWorkMVC
/GeneralWorkMVC/bin
/GeneralWorkMVC/obj/Debug
/GeneralWorkMVC/packages
/GeneralWorkMVC/.vs/GeneralWorkMVC.csproj.dtbcache.json
